.main-title {
    margin-bottom: 40px;
}

.search-box {
}

.sub-title {
    font-size: 1.2em;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.top-nav {
    height: 120px;
    box-shadow: none;
}

.page-title {
    line-height: 120px;
    font-size: 48px;
}

.side-nav .collapsible-body > ul:not(.collapsible) > li.active,
.side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active {
    background-color: #009688;
}