.main-title {
    margin-bottom: 40px;
}

.search-box {
}

.sub-title {
    padding: 20px 10px 20px 10px;
    font-size: 1.2em;
}

.my-table{
    margin-bottom: 80px;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.side-nav .collapsible-body > ul:not(.collapsible) > li.active,
.side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active {
    background-color: #009688;
}

.marginbottom50{
    margin-bottom: 50px;
}

.margintop50{
    margin-top: 50px;
}

.margintop100{
    margin-top: 100px;
}

.marginbottom100{
    margin-bottom: 100px;
}

.right-bold{
    text-align: right;
    font-weight: bold;
}